.button-group {
 padding-left: 15px;
}
.default {
 color: rgb(255,120,0);
 font-size: 14px;
 border-radius: 3em;
 margin: 10px; 
 height: 3.0em;
 width: 6.5em;
 background: #fff;
 border: 1px solid rgb(255,120,0);
} 

.default:hover {
 color: #20C3FF; 
 border-color: #20C3FF;
 cursor: pointer;
}

.default:focus {
outline: none;
}

.default:disabled {
 border-color: #bdb8c6;
 color: #bdb8c6;
 cursor: default;
}

.primary {
color: #fff;  
background: rgb(255,120,0);
}

.primary:hover {
background: #fff;
color: rgb(255,120,0);
border-color: rgb(255,120,0);
}

.primary:disabled {
border-color: #bdb8c6;
color: #fff;
background: #bdb8c6;
}

.secondary {
background: #f6f5f8;  
border: none;
color: initial;
}

.secondary:hover {
color: rgb(74,144,226);
border: 1px solid rgb(74,144,226);
}

.secondary:disabled {
border: none;
color: #bdb8c6;
  
}

